* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #ccc;
  line-height: 3em;
}

h1, p {
  padding: 0 3%;
  margin: 1.5% 0;
  word-wrap: break-word;
}

h1 {
  font-size: 2.7em;
  letter-spacing: 0.18em;
}

p {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

h4 {
    color: black;
    background-color: darkgray;
}


index, body {margin: 0; height: 100%; overflow: hidden}



/* BUTTON */
.button {
    font-family: 'Roboto', sans-serif;
    outline:none;
    cursor: pointer;

  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color:#1ECD97;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
    }
}



/* Video */
#video {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#video video {
  top: 0;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  background-size: cover;
  transform: translate(-50%);
  z-index: -1;
}

#overlay2 {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.68);
  position: absolute;
}

#heading_container2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* ENd of Video */



 
/*Down arrow to next page */

.down-arrow{
font-size: 40px;
width: 5%;
border-radius: 25px;
background-color: grey;
position: fixed;
text-align: center;
margin-left: auto;
margin-right: auto;
border: 2px solid black;    
text-decoration:  none;
font-weight:      bold; 
bottom: 1%;
right:47.5%;
position: fixed;  
}


a {
    color:brown;
    text-decoration: none !important;
}


