body{
  padding: 40px;
}
.key-features {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
  min-height: 500px;
  &__inner {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  &__list {
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: stretch;
  }

  &__anchor {
    display: block;
    text-decoration: none;
  }

  &__item {
    position: relative;
    flex: 1;
    h2 {
      display: inline-block;
      font-family: 'Playfair Display', serif;
      font-weight: 700;
    }
    span, h2, .btn {
      pointer-events: none;
    }
    &.item-disabled {
      span, h2, .btn {
        opacity: .2;
      }
    }
    .text-description {
      transition: all 0.2s;
      font-size: 18px;
      line-height: 23px;
      color: white;
      padding-left: 15%;
      padding-right: 10%;
      margin-top: 65px;
      position: relative;
      transform: translateY(10%);
      opacity: 0;
      pointer-events: none;
      p {
        font-family: 'Playfair Display', serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 23px;
        color: white;
      }
      &:before {
        content: " ";
        position: absolute;
        top: -35px;
        width: 55px;
        height: 8px;
        left: span(3.05 of 24);
        background: red;
      }
      p {
        max-width: 320px;
      }
    }
    .btn {
      position: absolute;
      bottom: 10%;
      left: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 7px;
      height: 50px;
    
      span {
        display: none;
        padding-right: 10px;
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .15em;
      }
    }
    &.item-active {
      .btn {
        transition: width 0.2s;

        width: 30%;
        background: red;
        border: 1px solid red;
        padding-left: 30px;
        min-width: 150px;
        span {
          font-size: 12px;

          display: inline-block;
          color: white;
          letter-spacing: 0;
          padding-right: 20px;
        }
        &:hover {
          width: 50%;
        }
        svg {
          fill: white;
        }
      }
      .text-description {
        transform: translateY(0);
        opacity: 1;
      }
    }
    &:after {
      display: none;
      content: "";
      position: absolute;
      top: -10%;
      width: 1px;
      height: 110%;
      right: 0;
      background: rgba(255, 255, 255, .1);
      pointer-events: none;
    }
  }

  &__number {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    color: white;
    display: block;
    padding: 50px 0 20px 15%;
    text-decoration: none;
  }

  &__text {
    max-width: 80%;
    color: white;
    padding-left: 15%;
    line-height: 34px;
    font-size: 28px;
  }

  &__video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit: cover;
    opacity: 0;
    z-index: 1;
    
    
  }

  &__background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    white-space: nowrap;
    font-size: 0;
    background: #1b1b1c;
  }
  &__bg-item {
    width: 25%;
    background: black;
    float: left;
    overflow: hidden;
    height: 100%;
    position: relative;

    &.hover-active {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .layer--background {
        opacity: 0;
      }
      .key-features__video {
        opacity: 0.2;
      }
    }
    .layer--background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1b1b1c;
      &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
